@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лаба 3 Тимченко В.В. КІ2-21-1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Логування</a>.</p>
</div>
